* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: "Host Grotesk", sans-serif;
  font-weight: 200;
  font-style: normal;
  
}
 
  


body {
  line-height: 1.6;
}

.hero-section {
  background: url('header.jpeg') center/cover no-repeat;
  color: #fff;
  text-align: center;
  padding: 100px 20px;
}


.hero-section h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.hero-section p {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.cta-button {
  background-color:#2d608f;
  color: #fff;
  padding: 0.8em 1.5em;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #5cafcf;
}

.about-section, .features-section, .cta-section {
  padding: 50px 20px;
  text-align: center;
  
}

/* Adjusted Dropdown CSS */
.dropdown {
  position: absolute; /* Absolute positioning */
  top: 20px; /* Distance from the top of the page */
  right: 20px; /* Distance from the right of the page */
  display: inline-block;
}

.dropbtn {
  background-color: #2d608f;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right:15px;
  background-color: #FFFFFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(45, 96, 143);
  color: white;
}

.features-section {
  background-color: #f9f9f9;
}

.features-section h2 {
  margin-bottom: 20px;
}

.feature-card {
  display: inline-block;
  background: #fff;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 250px;
  text-align: left;
}

.feature-card:hover{
  transform:scale(1.2);
  
}
.link{
  outline:none;
  color:black;
  text-decoration: none;
  
}
.link:hover{
  color:#160f58;
}
.footer {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.footer a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}
.footer a:hover {
  color: #28a745;
}